<template>
  <div :class="$style.vuePanel">
    <slot/>
  </div>
</template>

<script lang="ts">
export default {
  name: "VuePanel"
};
</script>

<style lang="scss" module>
.vuePanel {
  background-color: #fbf9fb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0;
  margin: 0;
}

// $panel-bg: lighten($bg-color, 5%);
// $panel-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
// $panel-border-radius: 0;
// $panel-margin: 0;
// $panel-header-padding: $space-unit * 2;
// $panel-header-image-size: $space-unit * 5;
// $panel-header-image-border-radius: 50%;
// $panel-header-image-margin: $space-unit $space-unit * 2 0 0;
// $panel-header-title-font-size: inherit;
// $panel-header-title-font-weight: 500;
// $panel-header-subtitle-font-size: inherit;
// $panel-header-subtitle-font-weight: 300;
// $panel-header-subtitle-color: $secondary-text-color;
// $panel-body-padding: $space-unit * 2;
// $panel-body-font-size: inherit;
// $panel-body-color: $text-color;
// $panel-footer-padding: $space-unit * 2;
</style>
