<template>
  <div class="newsletter">
    <span class="meta-text meta-text--primary">{{ $t('stay_in') }}</span>
    <h2 class="newsletter__title">{{ $t('news_title') }}</h2>
    <form
      class="newsletter__form"
      method="post"
      :action="_action">
        <label :for="`email_news-${id}`" class="newsletter__label">
          <vue-input
            type="email"
            name="EMAIL"
            :id="`email_news-${id}`"
            class="newsletter__input"
            required
            :aria-label="$t('ph_email')"
            v-model="email"
            :placeholder="$t('ph_email')" />
        </label>

        <vue-button type="submit" color="primary" class="newsletter__button txt-upper">
          {{ $t('subscribe') }}
        </vue-button>
    </form>
  </div>
</template>

<script>
  import VueButton from '../VueButton/VueButton'
  import VueInput from '../VueInput/VueInput'

  export default {
    name: 'Newsletter',

    components: {
      VueInput,
      VueButton
    },

    props: {
      action: {
        type: String
      }
    },

    data () {
      return {
        $t: window['$t'],
        email: '',
        _action: '',
        id: new Date().getTime()
      }
    },

    created () {
      this._action = this.action || undefined
    }
  }
</script>

<style>
.newsletter {
  text-align: center;
}
.newsletter__title {
  font-size: 1.625rem;
  line-height: 1.625rem;
}
@media (max-width: 576px) {
  .newsletter__title {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}
.newsletter__form {
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}
.newsletter__label {
  width: 100%;
  max-width: 300px;
}
.newsletter__input {
  width: 100%;
  padding: 12px 20px;
}
.newsletter__input.ui-input-field {
  border-radius: 60px 0 0 60px;
}
.newsletter__button {
  position: relative;
  right: 17px;
  top: -1px;
}
@media (max-width: 576px) {
  .newsletter__form {
    flex-wrap: wrap;
  }
  .newsletter__label {
    max-width: initial;
  }
  .newsletter__input.ui-input-field {
    border-radius: 60px;
  }
  .newsletter__button {
    margin-top: 16px;
    right: 0;
  }
}
</style>
