$accordion-item-header-bg: $bg-color-variant;
$accordion-item-header-shadow: none;
$accordion-item-header-padding: $space-unit $space-unit * 2;
$accordion-item-header-border: 1px solid $border-color;
$accordion-item-header-arrow-color: $brand-primary;
$accordion-item-body-padding: $accordion-item-header-padding;
