$notifications-index: 9999;
$notifications-padding: $space-unit;
$notifications-max-width: $space-unit * 50;

$notification-padding: $space-unit * 2 $space-unit * 5 $space-unit * 2 $space-unit * 2;
$notification-margin: 0 0 $space-unit 0;
$notification-shadow: none;
$notification-max-height: $space-unit * 10;
$notification-close-bg: $bg-color;
$notification-close-width: $space-unit * 5;
$notification-close-cross-color: $brand-primary;

$notification-default-bg: $bg-color-variant;
$notification-default-border: 1px solid $border-color;
