$slider-margin: 0;
$slider-padding: $space-unit * 3 $space-unit * 2;
$slider-track-bg: $border-color;
$slider-track-shadow: none;
$slider-progress-height: $space-unit * 0.5;
$slider-progress-bg: $brand-secondary;
$slider-handle-size: $space-unit * 4;
$slider-handle-shadow: none;
$slider-handle-bg: $bg-color;
$slider-handle-border: 2px solid $brand-secondary;
$slider-handle-transition: box-shadow $transition-duration / 2 ease-in-out;
$slider-handle-active-shadow: 0 0 0 8px
  rgba(red($brand-secondary), green($brand-secondary), blue($brand-secondary), 0.5);
$slider-values-margin: 0 0 40px -16px;
