@import 'variables';
@import 'mixins';

body {
  color: $text-color;
  background-color: $bg-color;
}

// always make sure images have an alt attribute
img:not([alt]) {
  border: 5px dashed $brand-danger;
}

/* vue-icon global style */
i {
  display: inline-block;
  height: $font-size;
  width: $font-size;
  fill: $text-color;

  svg {
    height: inherit;
    width: inherit;
    fill: currentColor !important;
    stroke: currentColor !important;
  }

  g {
    stroke: currentColor !important;
  }
}
