@import 'variables';
@import 'mixins';
@import url($google-font);

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: 1.6em;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-display: swap;
}

small {
  font-size: $font-size-small;
}

strong {
  font-weight: $font-weight-bold;
}

a {
  color: $link-color;
  font-weight: $link-font-weight;

  &:hover {
    color: $link-hover-color;
  }
}
